[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
motor = "*"
pymongo = "*"
python-dotenv = "*"
pydantic = {extras = ["email"], version = "*"}

[dev-packages]
autopep8 = "*"
pytest = "*"
requests = "*"
faker = "*"

[requires]
python_version = "3.10"
